header {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

header .language-button {
    background-color: #008080;
    border: none;
    transition: 1s;

}

header .language-button:hover {
    background-color: #005050;
}

header .language-button:active {
    border:none;
    background-color: #005050;
}

.nav {
    display: flex;
    justify-content: right;
    background-color: #005050;
    padding: 5px 0;
}

.nav-item {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 10px 15px;
    margin-right: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.nav-cim {
    padding: 20px 0;
    background-color: #008080;
}

.nav-cim-header {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}